.hidden {
    display: none;
}

#gpt-x-toggle-view-btn {
    right: 2.75rem;
    bottom: 1.125rem;
    margin-top: 0.125rem;
    transition-property: color, transform;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

#gpt-x-toggle-view-btn:hover {
    transform: scale(1.1);
    color: white;
}

.progress-container {
    height: 0.25rem;
    background-color: #444654;
    margin: 3px;
    border-radius: 2px;
    margin: 0.25rem 0 0.5rem 0;
}

.progress-bar {
    width: 0%;
    height: 0.25rem;
    border-radius: 2px;
    background: hsl(232, 11%, 55%);
    transition: width 0.5s ease-in-out;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#chunk-input-container {
    position: absolute;
    bottom: 3rem;
    left: -3.5rem;
    border: none;
    background-color: rgba(63, 65, 75, 0.75);
}

#chunk-input-container input {
    text-align: center;
    outline: none;
    border: none;
    width: 5rem;
    background-color: rgba(63, 65, 75, 0.75);
}

#chunk-input-container input:focus {
    outline: none !important;
}

#chunk-input-container button {
    padding: 0 1rem;
    background-color: rgba(63, 65, 75, 0.75);
}

#chunk-input-container button:focus {
    outline: none !important;
}

.prompt-btn {
    background-color: hsl(220, 4%, 13%);
    margin-bottom: 0.25rem;
    user-select: none;
}

/* Reset GPT Send Button Styling */

button.transition-colors {
    background-color: transparent !important;
}
